.App {
  text-align: center;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(black, grey);
  
}

.auth, .login-page, .signup-page {
  display: flex;
  flex-direction: column;

}

@media screen and (min-width 600px) {
}.auth {
    padding: 5rem;
    border: 3px solid black;
    border-radius: 10px;
    margin: 0.5rem;
  }
  



button {
  border-radius: 10px;
  padding: 20px;
  border: none;
  background-color: lightgray;
  cursor: pointer;
}

.link-btn {
  text-decoration: underline;
  background: none;
  
}

input {
 margin: 0.5rem 0;
 padding: 1rem;
 border-radius: 10px;



}

h2 {
  color: lightgray;
}


