@import url('https://fonts.googleapis.com/css2?family=Young+Serif&display=swap');

@keyframes lefttoright {
    from {
        translate: -100%;
    }
    
    to {
        translate: 0%;
    }
}

* {
    font-family: 'Young Serif', serif;
}


#intro {
    animation-name: lefttoright;
    animation-duration: 3s;
}



.video {
    padding: 10px;
}

.home {
    display: flex;
    flex-direction: row;
    flex-flow: wrap;
}

.header {
    display: flex;
    justify-content: space-around;
}

.youflix {
    font-weight: bolder;
}

.videoPlayer {
    width: 250px;
    height: 150px;
}